/**
 * logements.module.scss
 * Styles de la page logements dynamique de l'application Kas
 */

@use '@/styles/variables';
@use '@/styles/breackpoints';

.headSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  @include breackpoints.respond-to('mobile') {
    flex-direction: column;
  }
}

.titleSection {
  display: flex;
  flex-direction: column;
  width: 50%;

  @include breackpoints.respond-to('mobile') {
    width: 100%;
  }
}

.title {
  font-family: variables.$font-primary;
  font-size: 36px;
  color: variables.$color-primary;
  font-weight: 500;
  line-height: variables.$lineHeight;

  @include breackpoints.respond-to('mobile') {
    font-size: 18px;
  }
}

.location {
  font-family: variables.$font-primary;
  font-size: 18px;
  color: variables.$color-text;
  font-weight: 500;
  line-height: variables.$lineHeight;
}

.AccordionSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 76px;

  @include breackpoints.respond-to('mobile') {
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }
}

.profils {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breackpoints.respond-to('mobile') {
    flex-direction: row-reverse;
  }
}
