@use '@/styles/breackpoints';

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  overflow: hidden;
  border-radius: 25px;

  @include breackpoints.respond-to('mobile') {
    height: 111px;
    border-radius: 11px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  pointer-events: none;
}

.overlayWithTitle {
  opacity: 0.6;
}

.overlayNoTitle {
  opacity: 0.3;
}

.title {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px;
  line-height: 143%;

  color: white;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px black;

  @include breackpoints.respond-to('mobile') {
    font-size: 24px;
    line-height: 100%;
    -webkit-text-stroke: 0;
    text-shadow: none;
    justify-content: left;
    white-space: pre-line;
  }
}
