/**
* about.module.scss
* Ce fichier contient les styles spécifiques à la page A propos de l'application Kasa
*/

@use '@/styles/breackpoints';

.accordionContainer {
  width: 100%;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
}
