/**
 * cards.module.scss
 * Fichier de styles pour les cartes de la galerie.
 */

@use '@/styles/variables';

.cardContainer {
  width: 340px;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.cardLink {
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,
    rgba(4, 4, 4, 0.205) 99.99%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.cardImage {
  width: auto;
  height: 100%;
  object-fit: cover;
  background-color: variables.$color-primary;
}

.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,
    rgba(4, 4, 4, 0.205) 99.99%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.cardTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 143%;
  color: variables.$color-text-light;
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
  white-space: pre-line;
  width: 50%;
}
