/**
 * prfil.module.scss
 * Styles du module de profil de lapplication Kasa
 * Présent sur la page dynamique des logements
 */

@use '@/styles/variables';
@use '@/styles/breackpoints';

.profilsContainer {
  display: flex;
  flex-direction: row;
  max-width: 167px;
  gap: 5px;
  margin-top: 5px;
  align-content: center;
  justify-content: center;
}

.name {
  font-family: variables.$font-primary;
  color: variables.$color-primary;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  height: 100%;
}

.profilPicture {
  width: 64px;
  height: 64px;
  object-fit: contain;
  border-radius: 50%;
}
