/* ==========================
   Colors
========================== */
$color-primary: #ff6060;
$color-secondary: #ffffff;

$color-text: #000000;
$color-text-light: #ffffff;

$color-background: #f6f6f6;
$color-border: #e3e3e3;

/* ==========================
   Typography
========================== */
$font-primary: 'Montserrat', sans-serif;

$font-size-base: 16px;