/**
* _variables.scss
* Ce fichier contient l'ensemble des variables utiliser dans l'application Kasa
*/

// Couleurs

$color-primary: #ff6060;
$color-secondary: #ffffff;

$color-text: #000000;
$color-text-light: #ffffff;

$color-background: #f6f6f6;
$color-border: #e3e3e3;

$color-background-dark: #000000;
$color-text-dark: #ffffff;

// Fonts

$font-primary: 'Montserrat', sans-serif;

$font-size-base: 16px;

$maximum-width: 1440px;
