/**
* main.scss
* Ce fichier contient l'ensemble des styles globaux utiliser dans l'application Kasa
*/

/* Initial Import config */

@use './reset';
@use './variables';
@use './mixins';
@use './breackpoints';

/* Global Styles */

body {
  font-family: 'Montserrat', sans-serif;
  color: variables.$color-text;
  margin: auto;
  padding: 0 50px;
  box-sizing: border-box;
  max-width: 1440px;

  @include breackpoints.respond-to('mobile') {
    margin: auto;
    padding: 0 27px;
  }
}
