/**
* main.scss
* Ce fichier contient l'ensemble des styles globaux utiliser dans l'application Kasa
*/

/* Initial Import config */

@use './reset';
@use './variables';
@use './mixins';
@use './breackpoints';

/* Global Styles */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: variables.$color-text;
  margin: auto;
  box-sizing: border-box;
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: variables.$maximum-width;

  @include breackpoints.respond-to('mobile') {
    padding: 0 27px;
  }
}
