/**
* footer.module.scss
* Ce fichier contient les styles spécifiques au pied de page de l'application Kasa
*/

@use '@/styles/variables';
@use '@/styles/breackpoints';

.footer {
  width: 100%;
  height: 200px;
  background-color: variables.$color-background-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: variables.$color-text-dark;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 40px;

  @include breackpoints.respond-to('mobile') {
    height: 200px;
  }
}

.copyright {
  font-size: 24px;
  width: 100%;
  text-align: center;

  @include breackpoints.respond-to('mobile') {
    font-size: 12px;
    width: 30%;
  }
}
